<ion-view view-title="Events">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus-round" menu-toggle="right"
                ng-click="eventOptions()"></button>
        <button class="button button-icon button-clear ion-minus-round" menu-toggle="right"
                ng-click="clearMemory()"></button>
    </ion-nav-buttons>
    <ion-content>

        <ion-list>
            <!--ui-sref="app.event({event: {{event.eventId}} })"-->
            <ion-item class="item-avatar" ng-repeat="event in events | orderBy:'uploadDate':true" ng-if="event.eventId"
                      href="#/event/{{event.eventId}}">
                    <img  ng-src="img/img{{$index%4}}.png"/>
                    <span class="event-id">{{event.eventId}}</span>

                    <h2>{{event.title}}</h2>

                    <p>{{event.description}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
